$def with (xspf, tracklist)
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script type="text/javascript" src="static/swfobject.js"></script>
		<script type="text/javascript" src="static/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" src="static/jquery.timers.js"></script>
		<script type="text/javascript">
swfobject.embedSWF("static/MusicPlayer.swf", "player", "0", "0", "8.0.0", "static/expressInstall.swf", {playlist: "$xspf"}, {}, {});

var STOPPED = 0;
var PLAYING = 1;
var PAUSED = 2;

function track_click(event, shouldStop)
{
	var player = \$("#player")[0];
	var track = parseInt(\$(event.currentTarget)[0].id, 10);

	// Pause/stop if we're playing the track, otherwise play it!

	if (player.getStatus() == PLAYING && player.getTrack() == track)
	{
		if (shouldStop)
			player.stop();
		else
			player.pause();
	}
	else
	{
		if (player.getTrack() == track)
			player.play();
		else
			player.play(track);
	}
}

function track_update()
{
	var player = \$("#player")[0];
	var track = parseInt(\$(event.currentTarget)[0].id, 10);

	var message;

	if (player.getStatus() && player.getTrack() == track)
	{
		message = Math.round(player.getPosition() / 1000) + "&nbsp; /";
	}
	else
	{
		message = "&#9835;";
	}

	\$(this).find(".time").text(message);
}

function MusicPlayer_callback()
{
	\$("li.song").click(function(event) { track_click(event, false); });
	\$("li.song").dblclick(function(event) { track_click(event, true); });
	\$("li.song").everyTime("1s", track_update);
}
		</script>
	</head>
	<body>
		<div id="header">
			<h1>Moxie Demo</h1>
			<h2>It's, like, our first release... man.</h2>
		</div>

		<noscript>
			Javascript + Flash = Tunes!
		</noscript>

		<ul class="songs">
		$for count, info, url in tracklist:
			<li class="song" id="$count">
			$info.artist - $info.title
			<span class="time"></span>
			<strong>&nbsp; $info.duration</strong>
			</li>
		</ul>

		<div id="player" />
	</body>
</html>
