@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: local("Inconsolata"), url("inconsolata-v12.woff2") format("woff2");
}

body {
    color: #333;
    background: snow;
    margin: auto;
    max-width: 90%;
    font-family: "Inconsolata", monospace;
    font-size: calc(1em + 1vh);
}

#header {
    border-bottom: thin dotted black;
    padding: 0 1vw;
}

#title {
    margin: 0;
    font-size: calc(1em + 2vh);
}

#subtitle {
    display: block;
    text-decoration: none;
}

#songs {
    margin: 0;
    padding: 0;
}

.song {
    padding: 0.5vh 1vw;
    cursor: pointer;
    display: flex;
}

.name {
    text-decoration: none;
    flex: auto;
}

.time {
    text-align: right;
    margin: auto 0 auto 1vw;
}

.loading .position:after {
    content: "\2026/";
}

.playing {
    background-color: #E5E5E5;
}

.playing .position {
    color: #33CC33;
}

.playing .position:after {
    content: "/";
}

.paused .position {
    color: gray;
}

.paused .position:after {
    content: "/";
}
